<header class="header">
    <a href="/"><img src="/images/logo.jpg" alt="Cat and Dog Logo" id="logo"></a>
    <div id="headername">Barks & Purrs</div>
    <img src="/images/pawprints.jpg" alt="Paw prints photo" id="pawprints">
    <div id="date"></div>
</header>